* {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #c8a47e;
    color: #000000;
}

.header-nav-wrapper a {
    position: relative;
}

.header-nav-wrapper a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #000000;
    height: 2px;
}

.header-nav-wrapper a:hover:after {
    width: 100%;
}

nav.stroke ul li a:hover:after {
  width: 100%;
}

.header-nav-wrapper a:after,
.header-nav-wrapper a::before {
    transition: all .5s;
}